*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  :root {
    --primary-color: #D91F1F;
    --secondary-color: #920000;
    --third-color:#F7E2E2;
    --text-color: #FFFFFF;
    --black-color:#000000;
    --blue: #1e90ff;
    --white: #ffffff;
  }
